doctype html
html
  head
    title 监控
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style="padding: 0 0")
    center
      h1 监控
    div
      table
        tr
          td
            姓名
          td
            状态
          td
            a(href="")
              视频 
    
    div#videos
      div#main-video
        div.video-container
          video.video(playsinline, autoplay, muted)#v2
      div#multi-video
        div.sub-video
          div.video-container
            video.video(playsinline, autoplay, muted)#v1
    button#camera-button(state="off") 开启摄像头
    button#screen-button(state="off") 共享屏幕
    button#logout-button 退出
    script(src="/javascripts/room.js")
