doctype html
html
  head
    title 监控
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style="padding: 0 0")
    center
      h1 监控
    div
      table
        tr
          td
            姓名
          td
            状态
          td
            视频
        { for user in users }
        tr
          td
            user_name
          td
            user.status
          td
            a(href="")
              视频 
    
    button#logout-button 退出
    script(src="/javascripts/room.js")
