doctype html
html
  head
    title 会议室
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style="padding: 0 0")
    center
      h1 会议室
    div#videos
      div#main-video
        div.video-container
          video.video(playsinline, autoplay, muted)
      div#multi-video
        div.sub-video
          div.video-container
            video.video(playsinline, autoplay, muted)#v1
    button#camera-button(state="off") 开启摄像头
    script(src="/javascripts/room.js")
