doctype html
html
  head
    title 会议室
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style="padding: 0 0")
    center
      h1 会议室
    div#videos
    button#camera-button(state="off") 开启摄像头
    button#screen-button(state="off") 共享屏幕
    button#logout-button 退出
    script(src="/javascripts/room.js")
