body {
    padding: 20px 50px;
    font: 14px sans-serif;
}

td {
    padding: 5px;
    font-size: 16px;
    white-space: nowrap;
}

input {
    height: 16px;
    width: 200px;
    padding: 6px;
    border: solid lightgray;
    border-radius: 5px;
    background-color: aliceblue;
}

input:hover {
    border-color: gray;
}

input.invalid-input {
    border: solid #ff8080;
}

input.invalid-input:hover {
    border: solid red;
}

input:focus,
input.invalid-input:focus {
    outline: none;
    border: solid cornflowerblue 2px;
}

button {
    padding: 8px 12px;
    background-color: inherit;
    border: solid steelblue 1.5px;
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
}

button:focus {
    outline: none;
    border-width: 2.5px;
    padding: 7px 11px;
}

button:hover {
    background-color: #b5cee3;
    cursor: pointer;
}

hr {
    height: 1.5px;
    background-color: steelblue;
    border: none;
}

#index-form {
    border: dashed steelblue 2px;
    border-radius: 10px;
    background-color: aliceblue;
}

#msgC,
#msgE {
    font-size: small;
    color: red;
}

.video-container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 56.25%;
    height: 0px;
    border: solid black;
}

.video {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sub-video {
    width: 90%;
    float: left;
    margin: 10px;
}

#videos {
    width: 100%;
    height: 600px;
}

#main-video {
    width: 70%;
    float: left;
    margin: 10px;
}

#multi-video {
    width: 20%;
    height: 100%;
    float: left;
    overflow: auto;
}